.game{
    display:flex;

}
.gameInfo{
    background-color: gold;
    width:40%;
}
.start{
    padding-top:5%;
    padding-bottom: 4%;
}
.startButton{
    width:120px;
    height:40px;
    border-radius: 25px;
}
.board{
    display:flex;
    flex-wrap:wrap;
    justify-content: center;
    align-items: center;
    width:605px;
    height:605px;
    }

.square{
      width: 199px;
      height: 199px;
      border: 1px solid black;
      background-color: red;
}
.squareStarted{
    width: 199px;
    height: 199px;
    border: 1px solid black;
}